<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="Username" value="jyotichauhan.2806@gmail.com"/>
		<add key ="Password" value=""/>
		<add key="Website" value="https://www.w3schools.com/cs/index.php"/>
		<add key ="PageLoadTime" value="40"/>
		<add key="ElementLoadTimeout" value="40"/>
	</appSettings>
	<specFlow>
		<unitTestProvider name="MsTest" />
	</specFlow>
</configuration>
